*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

img {
    float: left;
    margin: 5px;
    }
h1, h2, h3, h4, h6 {
    font-family: 'Pathway Gothic One';
    color: #003366;
    }

.top {
    display: inline-block;
    width: 385px;
    border-bottom: 1px solid #000;
    clear: both;
    }

.clearfix::after {
   content: "";
   display: block;
   clear: both;
    }

.profile {
    display: inline-block;
    
    width: 250px;
    margin-right: 8px;
    }

.principles {
    display: inline-block;
    vertical-align: top;
    
    width: 100px;
    margin-left: 4px;
    }


.bottom {
    display: inline-block;
    width: 385px;
}

.offer {
    display: inline-block;
    font-family: 'Pathway Gothic One';
    width: 250px;
    color:#003366;

}

.offer p{
    color: #000;
}

.testimonial {
    
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 120px;
    color:#003366;
    text-align: center;
    }

.testimonial p {
    color: #000;
}
    
body {
    background-image: url(../tmp698246709049819137.jpg); no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    }

h1 {
    font-size: 15px;
    }

h3, h4 {
    font-size: 10px;
    }

h2 {
    
    line-height: 1.5;
    font-size: 8px;
    }

p {
    color: 000;
    font-size: 4px;
    }

ul li {
padding: 0;
margin: 0;
list-style: none;
    }

.numberCircle {
    list-style-type:none;
    font-size:15px;
    }

.numberCircle li {
    margin: 0px;
    }
.principles ol {
    counter-reset: numberCircle;
    }
.principles li::before {
    border-radius:50%;
    counter-increment: numberCircle;
    content:counter(numberCircle);
    background: #38afe5;
    color:#fff;
    line-height:18px;
    text-align: center;
    width:18px;
    height:18px;
    display:inline-block;
    position: relative;
    top:20px;
    right: 20px;
}

ol li::before {
    width: 10px;
    height: 10px;
}

ol {
    list-style-type: none;
    font-size: 6px;
    position: relative;
    bottom: 1px;
    left: 12px;
    }

.wrapper {
    width: 480px;
    height: 100%;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    color: #000;
    margin: 80px;
    background: #fff; margin: 0 auto;
    padding: 38px 38px 45px 54px;
    background-position: fixed;
    }

ul li:before {
    content: '\2192';
    color: #38afe5;
}

ul {
    text-decoration: none;
    columns: 2;
    list-style-type: none;
    font-size: 8px;
    margin-top: 20px;
    line-height: 2;
    width: 250px;
    color: #003366;
    }
